.content{
    padding-left: 232px;
    width: auto;
    height: 100%;
}

.content h1{ 
    padding-left: 216px;
    padding-top: 10px;
    padding-bottom: 24px;
    font-size: 26px;
    font-weight: bold;
}

.content h2{
    padding-left: 478px;
    padding-top: 16px;
    padding-bottom: 8px;
    font-size: 26px;
    font-weight: 26px;
}

.content section{
margin-left: 24px;
font-size: 16px;
}

.content #section1{
    background: #F2F4F4;
    width: 595px;
    height: 653px;
    padding-left: 24px;
    padding-top: 24px;
    font-weight: bold;
    font-size: 16px;
    float: left;
}

.content #section1 select{
    margin-top: 16px;
}

.content #section1  #select1{
    margin-left: 146px;
}
.content #section1  #select2{
    margin-left: 134px;
}
.content #section1  #select3{
    margin-left: 65px;
}
.content #section1  #select4{
    margin-left: 125px;
}

.content #section1 #select5{
    margin-left: 26px;
    width: 372px;
}
.content #section1 #select5.display{
    display: none;
}

.content #section1 select{
    margin-bottom: 16px;
    width: 208px;
    height: 32px;
    border-radius: 4px;
}

.content #section2{
    background: #F2F4F4;
    width: 458px;
    height: 653px;
    padding-left: 24px;
    padding-top: 24px;
    font-weight: bold;
    font-size: 16px;
    float: right;
}

.content #section1 button{
    width: 195px;
    height: 32px;
    border-radius: 10px;
    margin-top: 16px;
    background-color: #003586;
    color: #F3F6F7;
}
.content #section1 #select1{
    margin-left: 146px;
    width: 208px;
    margin-top: 24px;
    margin-bottom: 24px;
    height: 32px;
    border-radius: 4px;
    border: 1px solid black;
    padding: 8px;
}

.content #section2 button{
    width: 201px;
    height: 32px;
    border-radius: 10px;
    margin-top: 16px;
    background-color: #003586;
    color: #F3F6F7;
}

.content #section2 select{
    width: 220px;
    height: 32px;
    border-radius: 4px;
    margin-left: 80px;
    margin-top: 16px;
}


.content #section2 textarea{
    width: 378px;
    height: 258px;
    margin-top: 60px;
    margin-left: 16px;
    
}

#groupName{
    height: 32px;
    border-radius: 4px;
    margin-left: 79px;
    width: 208px;
    margin-bottom: 16px;
    border: 1px solid black;
    padding-left: 8px;
}


