.curriculum {
    &__table {
        margin-top: 40px;
        max-width: 1220px;
        padding: 0 10px;

        &-row {
            display: grid;
            text-align: center;
            grid-template-columns: 30px minmax(100px, 150px) minmax(150px, 225px) minmax(220px, 350px) minmax(220px, 350px) minmax(100px, 200px);
            font-size: 14px;

            & div {
                line-height: 16px;
                padding: 5px;
            }

            &-btn#add-row-btn,
            &-btn#remove-row-btn {
                display: flex;
                justify-content: center;
                align-items: center;
                
                background: transparent;
                transition: all .3s;
                padding: 10px;

                &:hover {
                    background: transparent;
                }

                &:disabled {
                    color:#3b4e3d9d;
                }
            }

            &-btn#add-row-btn {
                color:#5cb968;

                & > i {
                    font-size: 24px;
                }

                &:hover {
                    color:rgb(20, 143, 36);
                }
            }

            &-btn#remove-row-btn {
                color: rgb(255, 137, 137);
                
                & > i {
                    font-size: 18px;
                }

                &:hover {
                    color: rgb(255, 0, 0);
                }
            }

            & {
                .item {
                    display: flex;
                    justify-content: center;
                    align-items: center;
    
                    border-top: 1px solid black;
                    border-bottom: 1px solid black;
    
                    &__no-border {
                        border: 1px solid rgba(255, 255, 255, 0);
                    }

                    &__full-row {
                        grid-column: 1 / -1;
                    }

                    & + .item {
                        border-left: 1px solid black;
                        
                        &:last-child {
                            border-right: 1px solid black;
                        }
                    }

                    &__grid {
                        display: grid;
                        grid-template-rows: repeat(2, auto);
                        row-gap: 5px;

                        > p {
                            padding-bottom: 5px;
                            border-bottom: 1px solid black;
                        }
                    }

                    &__col-2 {
                        display: grid;
                        column-gap: 5px;
                        grid-template-columns: repeat(2, 1fr);
                    }

                    & > input {
                        width: 100%;
                        border: none;
                        border-bottom: 1px solid #35506873;
                        outline: none;
                        padding: 5px;
                        text-align: center;
                    }

                    &__subitem {
                        text-align: center; 

                        & > label {
                            font-size: 12px;
                            padding: 5px;
                        }

                        & > input {
                            border: none;
                            border-bottom: 1px solid #35506873;
                            outline: none;
                            padding: 5px;
                        }

                        & input[type=text] {
                            width: 50px;
                            text-align: center;
                        }
                    }

                    & > select {
                        border: 1px solid #35506873;
                        padding: 3px;
                        margin: 0 10px;
                    }
                }
            }

            & + & .item {
                border-top: none;
            }
        }

        &-head {
            font-weight: bold;
        }
    }
}