.form {
    &-element {
        position: relative;
        margin-top: 30px;

        &-bar {
            display: block;
            position: relative;
            height: 1px;
            background: #999;

            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                background: #337ab7;
                height: 2px;
                display: block;
                transform: rotateY(90deg);
                transition: transform 0.28s ease;
                will-change: transform;
            }
        }

        &-label {
            position: absolute;
            top: 20px;
            pointer-events: none;
            padding-left: 5px;
            z-index: 1;
            font-size: 16px;
            font-weight: normal;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #555555;
            transform: translateY(-50%);
            transform-origin: left center;
            transition: transform 0.28s ease, color 0.28s linear, opacity 0.28s linear;
            will-change: transform, color, opacity;
        }

        &-field {
            outline: none;
            display: block;
            background: none;
            padding: 10px 5px 3px;
            font-size: 16px;
            border: 0 solid transparent;
            line-height: 24px;
            width: 100%;
            color: #333;
            box-shadow: none;
            opacity: 0.001;
            transition: opacity 0.28s ease;
            will-change: opacity;

            &.-hasValue,
            &:focus {
                opacity: 1;
                font-size: 15px;
            }
        }

        &-field ~ &-bar::after {
            transform: rotateY(0deg);
        }

        &-field:focus ~ &-label {
            color: #ee75a7;
        }

        &-field.-hasValue ~ &-label,
        &-field:focus ~ &-label {
            transform: translateY(-160%) translateY(-0.5em) translateY(-2px) scale(0.9);
            cursor: pointer;
            pointer-events: auto;
        }

        &-field:disabled ~ &-bar,
        &-field:disabled ~ &-bar::after,
        &-field:disabled ~ &-bar::before,
        &-field:disabled ~ &-label {
            opacity: .5;
            transition: all .3s;
        }

        &-hint {
            display: block;
            font-size: 12px;
            margin-top: 5px;
            padding-left: 5px;
            opacity: 0;

            &--static {
                font-weight: 400;
                color: #7c7c7c;
                opacity: 1;
            }
        }
    }

    &-select {
        &-placeholder {
            color: #a6a6a6;
            display: none;
        }
    }

    &-select &-element-bar::before {
        content: "";
        position: absolute;
        height: 8px;
        width: 8px;
        border-bottom: 1px solid #999;
        border-right: 1px solid #999;
        display: block;
        right: 8px;
        bottom: 2px;
        transition: transform 0.28s ease;
        transform: translateY(-100%) rotateX(0deg) rotate(45deg);
        will-change: transform;
    }

    &-select select:focus &-element-bar::before {
        transform: translateY(-50%) rotateX(180deg) rotate(45deg);
    }

    &-checkbox {
        position: relative;
        margin-top: 30px;
        text-align: left;

        &-inline &-label {
            display: inline-block;
            margin-left: 5px;
        }

        &-legend {
            margin: 0 0 0.125rem 0;
            font-weight: 500;
            font-size: 1rem;
            color: #333;
        }

        &-label {
            position: relative;
            cursor: pointer;
            padding-left: 10px;
            text-align: left;
            color: #333;
            display: block;
            
            &:hover i {
                color: #337ab7;
            }

            span {
                display: block;
                margin-left: 15px;
            }

            input {
                width: auto;
                opacity: 0.0001;
                position: absolute;
                left: 1px;
                top: 1px;
                margin: 0;
                padding: 0;
            }
        }

        &-button {
            position: absolute;
            user-select: none;
            display: block;
            color: #999;
            left: 0;
            width: 1rem;
            height: 1rem;
            z-index: 0;
            border: 0.125rem solid currentColor;
            border-radius: 0.0625rem;
            transition: color 0.28s ease;
            will-change: color;

            &::before,
            &::after {
                position: absolute;
                height: 0;
                width: 0.2rem;
                background-color: #337ab7;
                display: block;
                transform-origin: left top;
                border-radius: 0.25rem;
                content: "";
                transition: opacity 0.28s ease, height 0s linear 0.28s;
                opacity: 0;
                will-change: opacity, height;
            }

            &::before {
                top: 0.65rem;
                left: 0.38rem;
                transform: rotate(-135deg);
                box-shadow: 0 0 0 0.0625rem #fff;
            }

            &::after {
                top: 0.3rem;
                left: 0;
                transform: rotate(-45deg);
            }
        }

        &-field:checked ~ &-button {
            color: #337ab7;
        }

        &-field:checked ~ &-button::after,
        &-field:checked ~ &-button::before {
            opacity: 1;
            transition: height 0.28s ease;
        }

        &-field:checked ~ &-button::after {
            height: 6px;
        }

        &-field:checked ~ &-button::before {
            height: 20px;
            transition-delay: 0.28s;
        }
    }

    &-has-error &-element-hint {
        opacity: 1;
    }
}

select.form-element-field {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

.form-has-error .form-element-label.form-element-label,
.form-has-error .form-element-hint {
  color: #d9534f;
}

.form-has-error .form-element-bar,
.form-has-error .form-element-bar::after {
  background: #d9534f;
}

.form-is-success .form-element-label.form-element-label,
.form-is-success .form-element-hint {
  color: #259337;
}

.form-is-success .form-element-bar::after {
  background: #259337;
}
