.group {
    &__item {
        margin-left: 15px;

        i {
            margin-right: 10px;
            opacity: .7;
            transition: all .3s;
            cursor: pointer;

            &:hover {
                opacity: 1
            }
        }

        i.add {
            color: #2cc734;
            
            &:hover {
                color: #009507;
            }
        }

        i.remove {
            color: rgb(253, 87, 87);
            
            &:hover {
                color: rgb(255, 27, 27);
            }
        }

        & + & {
            margin-top: 10px;
        }
    }
}