.student-card__add {
    display: grid;
    grid-template-columns: minmax(250px, 1fr);

    &-general {
        margin-bottom: 100px;
    }

    &-grid {
        display: grid;
        gap: 20px 60px;
        padding: 20px 0;
        grid-template-columns: minmax(250px, 1fr);
        align-items: center;

        margin-bottom: 30px;
    }

    &-info {
        position: relative;
        display: grid;
        row-gap: 10px;

        &-buttons {
            text-align: center;
        }
    }

    &-gap {
        height: 25px;
    }
}