.student-card {
    &__title {
        text-align: center;
        font-size: 20px;
        margin-bottom: 10px;
    }
    
    &__col-2,
    &__col-3,
    &__col-2to1 {
        display: grid;
        column-gap: 20px;
    }

    &__col-3 {
        grid-template-columns: repeat(3, minmax(100px, 1fr));
    }

    &__col-2 {
        grid-template-columns: repeat(2, minmax(100px, 1fr));
        column-gap: 40px;
    }

    &__col-2to1 {
        grid-template-columns: minmax(100px, 2fr) minmax(100px, 1fr);
    }

    &__buttons {
        text-align: center;
    }
}