.student-card__show {
    display: grid;
    grid-template-columns: 300px minmax(300px, 1fr);
    column-gap: 80px;

    &-general {
        margin-bottom: 100px;
    }

    &-grid {
        display: grid;
        gap: 20px 60px;
        padding: 20px 0;
        grid-template-columns: minmax(250px, 1fr);
        align-items: center;

        margin-bottom: 30px;
    }

    &-info {
        position: relative;
        display: grid;
        row-gap: 20px;

        &:before {
            content: "";
            position: absolute;

            top: 0;
            bottom: 0;
            left: -38px;
            width: 1px;
            background-color: #337ab7;
            opacity: .3;
        }
    }

    &-average-score {
        position: relative;

        &-btn {
            position: absolute;
            padding: 5px 7px;
            font-size: 24px;
            background-color: transparent;
            top: 0;
            right: 0;

            &:hover {
                background-color: transparent;
                color: #ee75a7;
            }
        }
    }

    &-transfer {
        &-history {
            text-align: center;

            &-header,
            &-row,
            &-container {
                display: grid;
            }

            &-container {
                row-gap: 5px;
            }

            &-header,
            &-row {
                grid-template-columns: 50px 120px 140px auto;
                column-gap: 5px;
            }

            &-header {
                font-size: 12px;
                font-weight: bold;
                padding: 10px 0 15px;
            }

            &-row {
                input,
                textarea {
                    padding: 5px;
                    border: none;
                    border-bottom: 1px solid #337ab7;
                }

                input {
                    text-align: center;
                }

                textarea {
                    text-align: left;
                    resize: vertical;
                }

                & + & {
                    margin-top: 10px;
                }
            }
        }
    }
}