.transfer {
    &__grid {
        display: grid;
        grid-template-columns: 240px 640px;
        gap: 80px;
    }

    &__filter {
        position: relative;

        &::after {
            content: "";
            position: absolute;

            top: 0;
            bottom: 0;
            right: -46px;
            width: 1px;
            background-color: #337ab7;
            opacity: .3;
        }
    }

    &__student {
        &-head,
        &-row {
            display: grid;
            grid-template-columns: 300px 200px;
            align-items: center;
            column-gap: 10px;
        }

        &-head {
            font-size: 14px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 10px;
        }

        &-row {
            & + & {
                margin-top: 10px;
            }

            select {
                padding: 5px 5px 3px;
                border: none;
                border-bottom: 1px solid #337ab7;
            }
        }
    }
}