*{
    
    margin: 0; 
    padding: 0;
    user-select: none;
    box-sizing: border-box;
}

body{
position: relative;
width: 1366px;
height: 768px;
background: #FFFFFF;

}
.sidebar{
position: fixed;
width: 232px;
height: 100%;
left: 0px;
top: 0px;
background: #003586;

}
.sidebar .text{
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    line-height: 40px;
    letter-spacing: 1px;
    padding-top: 16px;
    padding-bottom: 47px;
    border-right: 1px ;
    color: #F3F6F7;
}
nav ul{
    height: 100%;
    width: 100%;
    list-style: none;
}
nav ul li{
    line-height: 40px;
}
nav ul li a{
    position: relative;
    text-decoration: none;
    font-size: 18px;
    padding-left: 24px;
    font-weight: 700;
    display: block;
    width: 100%;
    border-bottom: 3px solid transparent;
    line-height: 40px;
    color: #F3F6F7;
}
nav ul li a:hover{
    color:#0157DA;
    border-bottom-color: #0157DA ;
}


nav ul ul{
    position: static;
    display: none;
}
nav ul .card-show.show{
    display: block;
}
nav ul .plan-show.show1{
    display: block;
}


nav ul ul li{
    line-height: 16px;
    border-bottom: none;
}
nav ul ul li a{
    font-size: 16px;
    padding-left: 56px;
}
nav ul li a span{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);   
    font-size: 24px;
    transition:  transform 0.4s;
}
nav ul li a span.rotate{
    transform: translateY(-50%) rotate(-180deg);   
}


.content{
    padding-left: 232px;
    width: 1134px;
    height: 100%;
}

.content h1{ 
    padding-left: 216px;
    padding-top: 16px;
    padding-bottom: 24px;
    font-size: 26px;
    font-weight: 26px;
}